<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Smsrace", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body class="flex flex-col h-full">
    <header class="bg-gray-100 p-2">
      <nav role="navigation">
        <ul class="flex items-center justify-between">
          <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
          <%= render "_administration_menu.html", assigns %>
          <%= render "_races_menu.html", assigns %>
          <%= render "_user_menu.html", assigns %>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
