<h1>Show Passage</h1>

<ul>

  <li>
    <strong>At:</strong>
    <%= @passage.at %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.passage_path(@conn, :edit, @passage) %></span>
<span><%= link "Back", to: Routes.passage_path(@conn, :index) %></span>
