<h1>Show Participant</h1>

<ul>

  <li>
    <strong>Nr:</strong>
    <%= @participant.nr %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @participant.name %>
  </li>

  <li>
    <strong>Phonenumber:</strong>
    <%= @participant.phonenumber %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.participant_path(@conn, :edit, @participant) %></span>
<span><%= link "Back", to: Routes.participant_path(@conn, :index) %></span>
