<h1 class="text-xl p-4">Show Race</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @race.name %>
  </li>

  <li>
    <strong>Start:</strong>
    <%= @race.display_time %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.race_path(@conn, :edit, @race) %></span>
<span><%= link "Back", to: Routes.race_path(@conn, :index) %></span>
